* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header, form {
    justify-content: center;
    display: flex;
    background-color: cyan;
    padding-bottom: 10px;
}
ul {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    list-style: none;
}
li {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.check {
    text-decoration: line-through;
}